body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: auto;
  /*background: linear-gradient(45deg, #f5f6fa, #e9eaed);*/

}

#logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;     /* 3 times the previous value of 50px */
  z-index: 1000;
}


.search-container {
  margin: 50px auto;
  max-width: 600px;
  width: 95%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  text-align: center;
  color: #2c3e50;
  margin: 0;
}

input {
  padding: 15px;
  width: 100%;
  margin-top: 20px;
  border: 1px solid blue;  /* Default blue border color */
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
input:focus {
  border: 1px solid blue;
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
  display: flex;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}
.book-info > div > strong {
  color: #007BFF;
}
strong {
  flex-grow: 1;
  color: #0a0b0c;
  margin-right: 10px;
}


fa-icon {
  color: #7f8c8d;
  margin-right: 10px;
}
