<html lang="he" dir="rtl">

<img id="logo" src="../assets/kinlogo2.png" alt="Your Logo">

<div class="search-container">
  <h1>חיפוש ספרים</h1>
  <input type="text" [(ngModel)]="searchTerm" placeholder="חפש ספר..." (input)="searchBooks()">

  <div *ngIf="searchResults.length; else noResults">
    <h2>תוצאות החיפוש:</h2>
    <ul>
      <li *ngFor="let book of searchResults">
        <div class="book-info">
          <div><strong>{{ book.description }}</strong></div>
          <strong>מעבר:</strong> {{ book.pass }}
          <strong>צד:</strong> {{ book.side }}<br>
          <strong>קומה:</strong> {{ book.floor }}
          <strong>מיקום: </strong> <span style="direction: ltr; display: inline-block;"> {{ book.location }}</span>
        </div>

      </li>
    </ul>
  </div>

  <ng-template #noResults>
    <h2>הספר לא נמצא</h2>
  </ng-template>

</div>
</html>
