<html lang="he" dir="rtl">
<!-- Google tag (gtag.js) -->
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TGZR7DQL3S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TGZR7DQL3S');
</script>
</head>

<img id="logo" src="../assets/kinlogo2.png" alt="Your Logo">

<div class="search-container">
  <h1>חיפוש ספרים</h1>
  <input type="text" [(ngModel)]="searchTerm" placeholder="חפש ספר..." (input)="searchBooks()">
  <!-- Removed the button since search is now live -->

  <div *ngIf="searchResults.length; else noResults">
    <h2>תוצאות החיפוש:</h2>
    <ul>
      <li *ngFor="let book of searchResults">
        <div class="book-info">
          <div><strong>{{ book.description }}</strong></div>
          <strong>מעבר:</strong> {{ book.pass }}
          <strong>צד:</strong> {{ book.side }}<br>
          <strong>קומה:</strong> {{ book.floor }}
          <strong>מיקום:</strong> {{ book.location }}
        </div>

      </li>
    </ul>
  </div>

  <ng-template #noResults>
    <h2>הספר לא נמצא</h2>
  </ng-template>

</div>
</html>
